POSTGRES_HOST=nextcloud-db
POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=sua_senha_segura_aqui

REDIS_HOST=nextcloud-redis

NEXTCLOUD_TRUSTED_DOMAINS=seu-dominio.com
OVERWRITEPROTOCOL=https
OVERWRITEHOST=seu-dominio.com
OVERWRITECLIURL=https://seu-dominio.com
TRUSTED_PROXIES=10.5.2.0/24
DATA_PATH=./data